.header {
  height: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  height: calc(100% - 80px);
}

.submenu {
  text-align: center;
  padding-bottom: 30px;

  button {
    margin: 0px 10px;
  }
}


.content {
  margin-bottom: 50px;
}
